<header class="main-header" [class.menu-expanded]="isMenuOpen()">
  <a class="logo" routerLink="/">Gabo-Dev</a>

  <button
    class="hamburger-btn"
    [class.active]="isMenuOpen()"
    (click)="toggleMenu()"
    [attr.aria-expanded]="isMenuOpen()"
    aria-label="Toggle navigation"
  >
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>
  <nav class="main-nav" [class.menu-open]="isMenuOpen()">
    <ul class="nav-links">
      <li><a routerLink="/" (click)="isMenuOpen.set(false)">Inicio</a></li>
      <li><a routerLink="/about" (click)="isMenuOpen.set(false)">Sobre Mí</a></li>
      <li><a routerLink="/projects" (click)="isMenuOpen.set(false)">Proyectos</a></li>
      <li><a routerLink="/contact" (click)="isMenuOpen.set(false)">Contacto</a></li>
    </ul>
  </nav>
</header>
