<main class="projects-layout">
  
  <div class="projects-view" [class.hidden]="id() !== undefined">
    <header class="projects-header">
      <h1 class="header-glitch">Mis Proyectos</h1>
    </header>

    <section class="projects-content">
      <div class="cards-wrapper">
        @for (project of projects(); track project.id) {
          <app-project-terminal-card 
            [project]="project" 
            (executeProject)="onExecuteProject($event)" 
          />
        }
      </div>
    </section>
  </div>

  @if (id() && selectedProject()) {
    <div class="terminal-view">
      @defer (on immediate) {
        @if (isBooting()) {
          <div class="loader-wrapper">
            <app-terminal-loader />
          </div>
        } @else {
          <app-project-terminal-display
            [project]="selectedProject()!"
            [allProjects]="projects()"
            (closeTerminal)="onCloseTerminal()"
            (navigateProject)="onExecuteProject($event)"
          />
        }
      } @loading {
        <div class="loader-wrapper">
          <app-terminal-loader />
        </div>
      }
    </div>
  }

</main>
