<main class="projects-layout">
  
  <div class="projects-view" [class.hidden]="activeProjectId() !== null">
    <header class="projects-header">
      <h1 class="header-glitch">Mis Proyectos</h1>
    </header>

    <section class="projects-content">
      <div class="cards-wrapper">
        @for (project of projects(); track project.id) {
          <app-project-terminal-card 
            [project]="project" 
            (executeProject)="onExecuteProject($event)" 
          />
        }
      </div>
    </section>
  </div>

  @if (activeProjectId() && selectedProject()) {
    <div class="terminal-overlay">
      @if (isBooting()) {
        <div class="loader-wrapper">
          <app-terminal-loader />
        </div>
      } @else {
        @defer (on immediate) {
          <app-project-terminal-display
            [project]="selectedProject()!"
            [allProjects]="projects()"
            (closeTerminal)="onCloseTerminal()"
            (navigateProject)="onExecuteProject($event)"
          />
        }
      }
    </div>
  }

</main>
