<main class="projects-layout">
  
  @if (isLoading()) {
    <div class="loader-wrapper">
      <app-terminal-loader />
    </div>
  } @else {
    

    @if (!isTerminalVisible() && !isTerminalTransitioning()) {
      <div class="projects-view" [class.hidden]="!areCardsVisible()">
        <header class="projects-header">
          <h1 class="header-glitch">Mis Proyectos</h1>
        </header>

        <section class="projects-content">
          <div class="cards-wrapper">
            @for (project of projects(); track project.id) {
              <app-project-terminal-card [project]="project" (executeProject)="onExecuteProject($event)" />
            }
          </div>
        </section>
      </div>
    }


    <section class="terminal-display-section"
      [class.visible]="isTerminalVisible()"
      [class.transitioning]="isTerminalTransitioning()">
      
      @if (isTerminalVisible() && selectedProject()) {
        <app-project-terminal-display
          [project]="selectedProject()!"
          [allProjects]="projects()"
          (closeTerminal)="onCloseTerminal()"
          (navigateProject)="onExecuteProject($event)"
        />
      }
    </section>

  }
</main>
